.container {
  position: relative;
  margin-top: 78.4px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.container img {
  width: 100%;
  position: relative;
  filter: brightness(80%);
}
.sliderTextContainer {
  width: 100%;
  position: absolute;
  left: 2%;
  top: 50%;
}
.sliderTextContainer button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: orangered;
  color: white;
  /* padding: 1vw 1.5vw; */
  padding: 14px 20px;
  font-size: 16px;
  margin-top: 20px;
  /* border-radius: 0.4vw; */
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
}
/* HOVER EFFECT FOR THE BUTTON */
.sliderTextContainer button:hover {
  background-color: orangered;
  color: white;
  transition: all ease-in-out 1s;
}
.sliderTextContainer p {
  margin: 0;
  width: 50%;
  color: #fffcf2;
  /* font-size: 4vw; */
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.hamburgerNavbar {
  display: none;
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: #0d1b2a;
}
.sliderTextContainer a {
  text-decoration: none;
  color: white;
}
@media (max-width: 850px) {
  .sliderTextContainer {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 650px) {
  .sliderTextContainer button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
    /* padding: 1vw 1.5vw; */
    padding: 10px 15px;
    font-size: 14px;
    margin-top: 10px;
    /* border-radius: 0.4vw; */
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
  }
  .sliderTextContainer p {
    width: 80%;
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  /* .container {
    height: 30vh;
  } */
  .container img {
    display: inline-block;
    width: 125%;
  }
  .hamburgerNavbar {
    display: block;
  }
  .hamburgerNavbar ul {
    padding: 0vw 4.5vw;
  }
  .hamburgerNavbar li {
    color: white;
    list-style: none;
    line-height: 8.5vw;
    font-size: 4.5vw;
    padding: 0.9vw 0vw;
  }
  .sliderTextContainer {
    top: 60%;
    transform: translateY(-50%);
  }
}
