.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 7vw;
}
.container p {
  margin: 0;
}
.innerContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
}
.left img {
  width: 55%;
  border-radius: 20px;
}
.right {
  flex: 1;
  text-align: left;
}
.title {
  margin: 0;
  font-size: 2.5vw;
  font-weight: 600;
  margin-bottom: 2vw;
  color: #26224c;
}
.desc {
  font-family: Poppins;
  font-size: 1.2vw;
  width: 95%;
  line-height: 1.8vw;
  word-spacing: 0.4vw;
}
.right hr {
  width: 10%;
  border: 3px solid #26224c;
  border-radius: 5px;
  margin: 0 2px;
  /* text-align: left; */

  /* style={{
    color: "black",
    width: "40px",
    borderBottom: "3px solid #26224c",
    margin: "0px 2px",
  }} */
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .title {
    margin: 0;
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 2vw;
    color: #26224c;
  }
  .desc {
    font-family: Poppins;
    font-size: 2.4vw;
    width: 100%;
    line-height: 3.6vw;
    word-spacing: 0.4vw;
  }
  .left img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .left img {
    display: none;
  }
  .innerContainer {
    flex-direction: column;
  }
  .container {
    margin-top: -2vw;
  }
  .right {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right hr {
    width: 15%;
    margin: 5vw 2px;
  }
  .title {
    font-size: 8vw;
  }
  .desc {
    font-size: 4vw;
    line-height: 5vw;
  }
}
