.navbarContainer {
  width: 100%;
  background-color: white;
  color: black;
  position: fixed;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 10%;
}
.innerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.left {
  flex: 5;
  display: flex;
  align-items: center;
  gap: 10px;
}
.left p {
  margin: 0;
}
.right {
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right ul {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 4vw;
}
.right li {
  cursor: pointer;
}
.navbarContainer a {
  text-decoration: none;
  color: black;
}
.navbarContainer a:hover,
.navbarContainer a:active,
.navbarContainer a.active {
  border-bottom: 4px solid #0d1b2a;
}
.left a:hover,
.left a:active {
  border-bottom: none;
}
.right li {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 0;
  background: transparent;
  color: black;
}
.logoContainer {
  display: flex;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburgerNavbar {
  background-color: #e3f0ff;
  color: black;
  text-align: center;
  display: none;
}
.hamburgerNavbar ul {
  padding: 0;
  margin: 0;
}
.hamburgerNavbar li {
  line-height: 2.5;
  cursor: pointer;
}
.title {
  font-size: 23px;
  font-weight: 600;
}
.hamburger {
  display: none;
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
    font-size: x-large;
  }
  .right {
    flex: 1;
  }
  .hamburgerNavbar {
    display: block;
  }
  .hamburgerNavbar li {
    font-size: 16px;
  }
  .right ul {
    display: none;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }
  .logo {
    width: 17.5%;
  }
  .logoContainer {
    display: none;
  }
  .hamburgerNavbar {
    padding: 1rem 0vw;
  }
  .hamburgerNavbar li {
    font-weight: 600;
  }
}
