.container {
  width: 100vw;
  background-color: #e3f0ff;
  height: 75px;
  color: black;
  display: flex;
  position: fixed;
  z-index: 100;
}
.innerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.left {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left p {
  margin: 0;
}
.right {
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right ul {
  display: flex;
  list-style: none;
  gap: 4vw;
}
.right li {
  cursor: pointer;
}
.right a {
  text-decoration: none;
  color: black;
}
ul a:hover,
ul a:active,
ul a.active {
  border-bottom: 4px solid #0d1b2a;
}
.right li {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2vw;
  border: none;
  outline: none;
  padding: 1vw 0vw;
  background: transparent;
  color: black;
}
/* .right li:hover {
  border-bottom: 2px solid orangered;
} */

/* .right li:hover {
  color: rgb(178, 151, 0);
  text-decoration: underline;
} */
.logoContainer {
  display: flex;
  margin-left: 5px;
  /* display: none; */
}
.logoContainer p {
  margin: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
.hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
    font-size: x-large;
  }
  .right ul {
    display: none;
  }
}
