.container {
  margin-top: 7vw;
  /* width: 98vw; */
  /* width: 90%; */
  /* margin: 0 auto; */
  /* display: flex; */
  width: 98.85vw;
}
.container p {
  margin: 0;
}
.innerContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;

  /* min-width: 200px; */
  /* gap: 1rem; */
}
.text {
  height: 6.5vw;
  border: 1px solid gray;
  padding: 1vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.number {
  font-size: 3vw;
  font-weight: 700;
  display: flex;
}
.title {
  margin-top: 3vw;
  font-size: 1vw;
  font-weight: 600;
}
.mainTitle {
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #26224c;
  margin: 5vw 0vw;
}

@media (max-width: 420px) {
  .container {
    margin-top: 17vw;
  }
  /* .mainTitle {
    font-size: 7vw;
  } */
  .title {
    font-size: 2vw;
  }
  /* .number {
    font-size: 6vw;
  }
  .text {
    height: 16vw;
  } */
}
@media (max-width: 720px) {
  .mainTitle {
    font-size: 7vw;
  }
  .number {
    font-size: 6vw;
  }
  .text {
    height: 16vw;
  }
}
